
	<div><%=link_to 'Add New product',new_product_path%></div>


	<% @products.each do |product| %>
<div  style="float: left; padding: 10px; margin: 5px; border: 1px solid black;">
	<%= product.title %>
	<%= product.description %>
	<%= product.user_id %>
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', [:admin, product], confirm: 'Are you sure?', method: :delete %>
	<%=  product.created_at %>
</div>
	<% end %>
